@font-face {
    font-weight: 400;
    font-family: 'Open-Sans';
    src: url("https://resources.jetbrains.com/storage/help-app/v2/fonts/open-sans-latin-400.woff2");
}

.wrapper {
    position: absolute;
    left: 0;
    top: 0;
     padding-top: 20px;
      overflow: scroll;
      width: 300px;
      height: 100vh;
      background-color: #fafafa;
      font-family: 'Open-Sans';
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .loader {
      padding-top: 40px;
  }